In [1]:
# import
import numpy as np
import pandas as pd
from itertools import product

In [2]:
'''

In channel 0 we have FORM output from the preamplifier, so we can retain its energy (already store in a TH1)
But actually for the RUN1 we have no save data...
In channel 2 we have AMP output so we can obtain the PSA

'''

'\n\nIn channel 0 we have FORM output from the preamplifier, so we can retain its energy (already store in a TH1)\nBut actually for the RUN1 we have no save data...\nIn channel 2 we have AMP output so we can obtain the PSA\n\n'

In [4]:
# variables to change
#filename_ch0 = '/Users/nicola/Desktop/Advanced Laboratory A/data/20220510/Co60_252Cf_CLYC_MI/UNFILTERED/CH_0@DT5725_1701_Data_Co60_252Cf_CLYC_MI.csv'
#filename_ch2 = '/Users/nicola/Desktop/Advanced Laboratory A/data/20220510/Co60_252Cf_CLYC_MI/UNFILTERED/CH_2@DT5725_1701_Data_Co60_252Cf_CLYC_MI.csv'

#filename_ch0 = '/mnt/c/Users/UTENTE/Downloads/Co60_252Cf_CLYC_MI/UNFILTERED/CH_0@DT5725_1701_Data_Co60_252Cf_CLYC_MI.csv'
#filename_ch2 = '/mnt/c/Users/UTENTE/Downloads/Co60_252Cf_CLYC_MI/UNFILTERED/CH_2@DT5725_1701_Data_Co60_252Cf_CLYC_MI.csv'

filename_ch0 = '/Users/javi/Documents/Padova/2/AdvancedLab/AdvancedLab_22-23/data/20220510/UNFILTERED/60Co_252CF_CLYC_MI/CH_0@DT5725_1701_Data_Co60_252Cf_CLYC_MI.csv'
filename_ch2 = '/Users/javi/Documents/Padova/2/AdvancedLab/AdvancedLab_22-23/data/20220510/UNFILTERED/60Co_252CF_CLYC_MI/CH_2@DT5725_1701_Data_Co60_252Cf_CLYC_MI.csv'


# retain data
df0 = pd.read_csv(filename_ch0, skiprows=1, header=None, sep=';')
df0.columns = (['TIMETAG', 'ENERGY', 'FLAGS'] + [x for x in range(len(df0.columns)-3)])
df2 = pd.read_csv(filename_ch2, skiprows=[0, 197474], header=None, sep=';')
df2.columns = (['TIMETAG', 'ENERGY', 'FLAGS'] + [x for x in range(len(df2.columns)-3)])

In [5]:
# sort dataframe and print 
df0 = df0.sort_values('TIMETAG')

df0

,TIMETAG,ENERGY,FLAGS,0,1,2,3,4,5,6,...,486,487,488,489,490,491,492,493,494,495
0,442712000,412,0x0,3258,3258,3254,3254,3257,3257,3263,...,3522.0,3522.0,3512.0,3512.0,3522.0,3522.0,3523.0,3523.0,3506.0,3506.0
1,2883340000,231,0x0,3252,3252,3258,3258,3253,3253,3253,...,3420.0,3420.0,3412.0,3412.0,3399.0,3399.0,3404.0,3404.0,3404.0,3404.0
2,4103176000,266,0x0,3260,3260,3253,3253,3252,3252,3262,...,3395.0,3395.0,3401.0,3401.0,3394.0,3394.0,3397.0,3397.0,3403.0,3403.0
3,11341700000,329,0x0,3260,3260,3262,3262,3260,3260,3258,...,3469.0,3469.0,3465.0,3465.0,3467.0,3467.0,3470.0,3470.0,3444.0,3444.0
4,11869372000,393,0x0,3250,3250,3266,3266,3257,3257,3264,...,3492.0,3492.0,3495.0,3495.0,3496.0,3496.0,3488.0,3488.0,3486.0,3486.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139202,244024517252000,356,0x0,3255,3255,3261,3261,3269,3269,3267,...,3464.0,3464.0,3446.0,3446.0,3444.0,3444.0,3446.0,3446.0,3463.0,3463.0
139203,244025730776000,687,0x0,3253,3253,3255,3255,3261,3261,3259,...,3637.0,3637.0,3628.0,3628.0,3642.0,3642.0,3635.0,3635.0,3639.0,3639.0
139204,244026296556000,304,0x0,3259,3259,3250,3250,3260,3260,3248,...,3408.0,3408.0,3407.0,3407.0,3403.0,3403.0,3406.0,3406.0,3407.0,3407.0
139205,244027063424000,407,0x0,3257,3257,3253,3253,3252,3252,3256,...,3490.0,3490.0,3497.0,3497.0,3491.0,3491.0,3483.0,3483.0,3483.0,3483.0
139206,244031158336000,269,0x0,3249,3249,3247,3247,3245,3245,3258,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# sort dataframe and print 
df2 = df2.sort_values('TIMETAG')

df2

,TIMETAG,ENERGY,FLAGS,0,1,2,3,4,5,6,...,486,487,488,489,490,491,492,493,494,495
0,442700000,134,0x0,3370,3370,3387,3387,3372,3372,3376,...,3471,3471,3468,3468,3455,3455,3445,3445,3462,3462
1,681856000,47,0x0,3377,3377,3384,3384,3396,3396,3387,...,3409,3409,3412,3412,3391,3391,3389,3389,3403,3403
2,1427660000,67,0x0,3379,3379,3376,3376,3383,3383,3370,...,3410,3410,3405,3405,3411,3411,3430,3430,3403,3403
3,2883328000,77,0x0,3375,3375,3384,3384,3380,3380,3382,...,3456,3456,3449,3449,3441,3441,3433,3433,3415,3415
4,4103160000,87,0x0,3379,3379,3379,3379,3382,3382,3373,...,3405,3405,3415,3415,3411,3411,3422,3422,3410,3410
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197490,253643699848000,60,0x0,3368,3368,3378,3378,3380,3380,3377,...,3394,3394,3400,3400,3391,3391,3390,3390,3394,3394
197491,253644306240000,61,0x0,3381,3381,3379,3379,3385,3385,3382,...,3405,3405,3398,3398,3404,3404,3414,3414,3411,3411
197492,253644484464000,49,0x0,3375,3375,3378,3378,3374,3374,3377,...,3420,3420,3404,3404,3402,3402,3409,3409,3398,3398
197493,253645629120000,88,0x0,3375,3375,3387,3387,3382,3382,3390,...,3429,3429,3405,3405,3407,3407,3406,3406,3407,3407
197494,253646237768000,96,0x0,3385,3385,3370,3370,3380,3380,3365,...,3436,3436,3421,3421,3413,3413,3412,3412,3413,3413

In [8]:
# retrieve timestamps (numpy arrays)
timetag0 = np.array(df0.loc[:, 'TIMETAG'])
timetag2 = np.array(df2.loc[:, 'TIMETAG'])

#timetag0 = timetag0[0:1000]
#timetag2 = timetag2[0:1200]

timetag2_temp = timetag2.copy() # modifying the temporary timetag2 array in the for loop 

couples, eliminate_row, diff = [], [], []
counter = 0


for n, i in enumerate(timetag0):
    
    tol = 10**5 #tolerance (ps)
    coinc = np.argwhere(abs(timetag2_temp-i) <= tol) # find the index of timetag2 where the diff is smaller than tol
    
    if np.size(coinc) == 0: 
        eliminate_row.append(n)
        counter+=1 # times when this happens, necessary to correct the position to append in other cases
    
    elif np.size(coinc) == 1: # just one couple found
        
        couples.append([n, coinc[0][0] + (n-counter) ]) # append the timetag0 and timetag2 positions for the coincidence found
        timetag2_temp = np.delete(timetag2_temp, coinc[0][0]) # remove the values that have been associated
    
    else:
        
        for [position] in coinc: 
            diff.append(abs(timetag2_temp[position]-i)) # difference between the candidate timetag2 values and i
        min_index = diff.index(min(diff)) # find the minimum difference index in the diff list
        couples.append([n, coinc[min_index][0] + (n-counter)]) # append the best couple
        diff = [] 
        timetag2_temp = np.delete(timetag2_temp, coinc[min_index][0])

In [9]:
# Rearrange the DataFrame timetag2 row order to match the timetag0 one and remove the non associated rows of both DataFrames

index_timetag2 = []
for [i,j] in couples:
    index_timetag2.append(j)
    
index_timetag0 = [x for x in range(len(df0.index)) if x not in eliminate_row]

In [10]:
df0 = df0.loc[index_timetag0]

df0

,TIMETAG,ENERGY,FLAGS,0,1,2,3,4,5,6,...,486,487,488,489,490,491,492,493,494,495
0,442712000,412,0x0,3258,3258,3254,3254,3257,3257,3263,...,3522.0,3522.0,3512.0,3512.0,3522.0,3522.0,3523.0,3523.0,3506.0,3506.0
1,2883340000,231,0x0,3252,3252,3258,3258,3253,3253,3253,...,3420.0,3420.0,3412.0,3412.0,3399.0,3399.0,3404.0,3404.0,3404.0,3404.0
2,4103176000,266,0x0,3260,3260,3253,3253,3252,3252,3262,...,3395.0,3395.0,3401.0,3401.0,3394.0,3394.0,3397.0,3397.0,3403.0,3403.0
3,11341700000,329,0x0,3260,3260,3262,3262,3260,3260,3258,...,3469.0,3469.0,3465.0,3465.0,3467.0,3467.0,3470.0,3470.0,3444.0,3444.0
4,11869372000,393,0x0,3250,3250,3266,3266,3257,3257,3264,...,3492.0,3492.0,3495.0,3495.0,3496.0,3496.0,3488.0,3488.0,3486.0,3486.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139202,244024517252000,356,0x0,3255,3255,3261,3261,3269,3269,3267,...,3464.0,3464.0,3446.0,3446.0,3444.0,3444.0,3446.0,3446.0,3463.0,3463.0
139203,244025730776000,687,0x0,3253,3253,3255,3255,3261,3261,3259,...,3637.0,3637.0,3628.0,3628.0,3642.0,3642.0,3635.0,3635.0,3639.0,3639.0
139204,244026296556000,304,0x0,3259,3259,3250,3250,3260,3260,3248,...,3408.0,3408.0,3407.0,3407.0,3403.0,3403.0,3406.0,3406.0,3407.0,3407.0
139205,244027063424000,407,0x0,3257,3257,3253,3253,3252,3252,3256,...,3490.0,3490.0,3497.0,3497.0,3491.0,3491.0,3483.0,3483.0,3483.0,3483.0
139206,244031158336000,269,0x0,3249,3249,3247,3247,3245,3245,3258,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [99]:
df2 = df2.loc[index_timetag2]

df2

,TIMETAG,ENERGY,FLAGS,0,1,2,3,4,5,6,...,486,487,488,489,490,491,492,493,494,495
0,442700000,134,0x0,3370,3370,3387,3387,3372,3372,3376,...,3471,3471,3468,3468,3455,3455,3445,3445,3462,3462
3,2883328000,77,0x0,3375,3375,3384,3384,3380,3380,3382,...,3456,3456,3449,3449,3441,3441,3433,3433,3415,3415
4,4103160000,87,0x0,3379,3379,3379,3379,3382,3382,3373,...,3405,3405,3415,3415,3411,3411,3422,3422,3410,3410
7,11341688000,110,0x0,3382,3382,3385,3385,3381,3381,3385,...,3438,3438,3459,3459,3440,3440,3458,3458,3446,3446
9,11869356000,130,0x0,3395,3395,3363,3363,3374,3374,3388,...,3454,3454,3438,3438,3441,3441,3446,3446,3443,3443
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197397,244024517240000,115,0x0,3377,3377,3387,3387,3380,3380,3384,...,3463,3463,3435,3435,3420,3420,3419,3419,3420,3420
197399,244025730760000,227,0x0,3378,3378,3372,3372,3380,3380,3384,...,3483,3483,3485,3485,3463,3463,3462,3462,3483,3483
197400,244026296544000,100,0x0,3381,3381,3382,3382,3364,3364,3377,...,3422,3422,3422,3422,3410,3410,3418,3418,3415,3415
197401,244027063408000,136,0x0,3367,3367,3381,3381,3382,3382,3380,...,3435,3435,3438,3438,3442,3442,3463,3463,3444,3444
197406,244031158324000,88,0x0,3370,3370,3372,3372,3361,3361,3376,...,3425,3425,3438,3438,3411,3411,3412,3412,3409,3409